<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
  <![endif]-->
</head>
<body>
  <header>
    <nav class="navi-bar navi-bar-default">
      <div class="container">
        <%= link_to('SWeeapp', root_path, { :class => "navi-logo" }) %>
        <ul class="navi navi-menu for-main-menu">
          <li class="<%=is_active('')%>"><%= link_to(root_path) do %><i class="fa fa-home"></i><% end %></li>
          <li class="<%=is_active('static_page/about')%>"><%= link_to('About', '#') %></li>
          <li class="<%=is_active('static_page/help')%>"><%= link_to('Help', '#') %></li>
          <li class="<%=is_active('static_page/contact')%>"><%= link_to('Contact', '#') %></li>
        </ul>
      </div>
    </nav>
  </header>
<%= yield %>

</body>
</html>
